.header{
    background: url(../img/header-bg.png) no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    .header__other-wrapper{
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    .header-lang{
        position: absolute;
        top: 45%;
        right: 50px;
        &__link{
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.3);
            font-size: 13px;
            text-decoration: none;
            display: block;
            padding: 10px;
            outline: none;
            &:hover{
                color: #fff;
                transition: 0.3s;
            }
        }
        &__active{
            color: #fff;
        }
    }
    .header__other-wrapper nav ul{
    .header__other-connection-item {
            background: transparent;
            border-left: 1px solid rgba(255, 255, 255, 0.05);
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            &:hover > svg{
                fill: #fff;
                transition: 0.3s;
            }
            svg{
                fill: #D0D0D0 !important;
            }
        }
        .header__other-item{
            margin-left: 83px;
            cursor: pointer;
            font-size: 14px;
            line-height: 55px;
            font-family: "Mont-SemiBold";
            a{
                color: #D0D0D0;
                outline: none;
                &:hover{
                    color: #fff;
                    transition: 0.3s;
                }
            }
        }
    }
}

// MENU
.nav-menu {
  margin: 0;
  list-style: none;

  li {
    // display: inline-block;
    // position: relative;
  }
  .has-dropdown .has{
      position: relative;
    &::after{
            content:"";
            position: absolute;
            top: 7px;
            right: -15px;
            background: url(../img/services-arrow.svg) no-repeat;
            background-size: 100%;
            width: 10px;
            height: 10px;
        }
    }
  .nav-item {
    .item-dropdown {
      position: absolute;
      margin: 0.5rem 0;
      background: #fff;
      box-shadow: 0px 7px 45px rgba(0, 0, 0, 0.25);
      display: none;
      li{
          &:hover{
            background: #2F97F4;
            transition: 0.3s;
          }
          &:hover > a{
            color: #fff !important;
            transition: 0.3s;
          }
          &:hover svg{
              fill: #fff !important;
              transition: 0.3s;
          }
          svg{
              margin-right: 10px;
              fill: #051F39;
          }
      }
      a{
        color: #051F39 !important;
        text-transform: uppercase;
        padding: 10px 30px;
        outline: none;
      }
    }
  }
}

.header-container{
    width: 90%;
}
.header-main {
    display: flex;
    justify-content: space-between;
    padding: 133px 0px 98px;
    // .header-main__left

    &__left {
        width: 55%;
    }

    // .header-main__right

    &__right {
        width: 45%;
        margin-right: 78px;
    }
}
.left-main {

    // .left-main__logo

    &__logo {
        display: flex;
        align-items: center;
        h1{
            font-family: 'Mont-Bold';
            font-size: 51px;
            line-height: 58px;
            text-transform: uppercase;
            margin-left: 35px;
            margin-top: 10px;
        }
    }

    // .left-main__about

    &__about {
        font-size: 19px;
        line-height: 29px;
        margin: 33px 80px;
    }
}
.right-main {
    padding-top: 160px;
    // .right-main__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
            width: 48%;
            margin-bottom: 30px;
            font-size: 13px;
            line-height: 24px;
            position: relative;
            &::before{
                content:"";
                position: absolute;
                top: 7px;
                left: -15px;
                background: url(../img/li.svg) no-repeat;
                width: 5px;
                height: 5px;
                background-size: 100%;
            }
        }
    }
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // .header-bottom__btn

    &__btn {
        width: 49%;
    }

    // .header-bottom__scroll

    &__scroll {
        width: 8%;
        margin-right: 90px;
        cursor: pointer;
        a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            outline: none;
            color: #D0D0D0;
            &:hover{
                color: #fff;
                transition: 0.3s;
            }
            span{
                font-size: 12px;
                line-height: 55px;
                text-transform: uppercase;
            }
            svg{

            }
        }
    }
}
.btn-header {
    display: flex;
    justify-content: space-between;
    // .btn-header__about
    a{
        color: #fff;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 10px;
        position: relative;
        outline: none;
        &::after{
            content: "";
            position: absolute;
            top: 36px;
            right: 50px;
            background: url(../img/next.svg) no-repeat;
            width: 30px;
            height: 20px;
            background-size: 100%;
            transition: all 0.3s;
        }
        &:hover::after{
            content: "";
            position: absolute;
            top: 35px;
            right: 25px;
            background: url(../img/hh-arrow.svg) no-repeat;
            width: 60px;
            height: 25px;
            background-size: 100%;
            transition: all 0.3s;
        }
    }
    &__about {
        width: 50%;
        background: #585BFC;
        font-size: 17px;
        line-height: 55px; 
        outline: none;
        &:hover{
            background: #4245C9;
            transition: 0.3s;
        }
        &:active{
            background: #4245C9;
            color:#787AE8;
            transition: 0.3s;
        }
    }

    // .btn-header__contacts

    &__contacts {
        width: 50%;
        background: #2F97F4;
        font-size: 17px;
        line-height: 55px;
        &:hover{
            background: #1584E8;
            transition: 0.3s;
        }
        &:active{
            background: #1584E8;
            color:#6EB7F9;
            transition: 0.3s;
        }
    }
}


// ABOUT SECTION

.about {
    .advantage {
        height: 200px;
      }
      
      .advantage-hover {
        height: 200px;
      }
      .objects{
        border: 1px solid #DEE4EA;
        display: block;
        width: 50%;
        height: 200px;
        cursor: pointer;
        a{
            display: inline-block;
        }
        .advantage-hover {
            display: none;
            .item-blocks__bottom a,
            .item-blocks__year{
                color: #fff !important;
            }
        }
        .advantage-hover__first{
            background: url(../img/el1.svg) no-repeat;
            background-size: cover;
        }
    }
    
}
.about-container,
.services-container {
    max-width: 83%;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 52px 0px;
}
.about-us { 
        width: 41%;
		// .about-us__header

		&__header {
            font-family: 'Mont-Bold';
            font-weight: 800;
            font-size: 51px;
            line-height: 58px;
            color: #051F39;
            margin-bottom: 30px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 173%;
                left: -0px;
                background: url(../img/volna.svg) no-repeat;
                background-size: 100%;
                width: 57px;
                height: 20px;
            }
		}

		// .about-us__info

		&__info {
            font-weight: 600;
            font-size: 15px;
            line-height: 31px;
            color: #42474D;
            margin-bottom: 14px;
            margin-left: 68px;
            position: relative;
		}

		// .about-us__more

		&__more {
            display: inline-block;
            color: #585BFC;
            font-size: 13px;
            line-height: 31px;
            padding: 10px 25px;
            background: #FFFFFF;
            border: 1px solid #585BFC;
            text-decoration: none;
            width: 60%;
            margin-top: 20px;
            margin-left: 68px;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: 20px;
                right: 23px;
                background: url(../img/arrr.svg) no-repeat;
                width: 22px;
                height: 15px;
                background-size: 100%;
                transition: all 0.3s;
            }
            &:hover{
                background: #585BFC;
                color: #fff;
                transition: 0.3s;
            }
            &:hover::after{
                content: "";
                position: absolute;
                top: 22px;
                right: 13px;
                background: url(../img/more-hover.svg) no-repeat;
                width: 32px;
                height: 15px;
                background-size: 100%;
                transition: all 0.3s;
            }
		}

		// .about-us__blocks

		&__blocks {
            display: inline-block;
		}
}
.blocks-about {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 51%;
        margin-top: 78px;
		// .blocks-about__item

		&__item {
    
		}
}

.item-blocks {
        text-decoration: none;
        padding: 0px 20px 23px;
		// .item-blocks__top

		&__top {
            display: flex;
            justify-content: space-between;
            min-height: 115px;
		}

		// .item-blocks__year

		&__year {
            font-size: 15px;
            line-height: 55px;
            color: #000000;
            position: relative;
            margin-left: 13px;
            &::before{
                content:"";
                position: absolute;
                top: 25px;
                left: -13px;
                background: url(../img/li.svg) no-repeat;
                width: 5px;
                height: 5px;
                background-size: 100%;
            }
		}

		// .item-blocks__plus

		&__plus {
            margin: 10px 0px;
		}

		// .item-blocks__bottom

		&__bottom {
            max-width: 180px;
            a{
                font-size: 20px;
                line-height: 28px;
                color: #000000;
                text-decoration: none;
            }
		}
}

.objects:last-child .item-blocks .item-blocks__bottom{
    max-width: 300px;
}

//  SETVICES SECTION


.services {
    padding: 38px 0px 80px;
    .objects{
        .advantage-hover{
            display: none;
            background: url(../img/services.svg) no-repeat;
            background-size: cover;
            .services-more,
            .services-about,
            .services-header{
                color: #fff;
                transition: 0.3s;
            }
            .services-more{
                border-bottom: 2px solid #fff;
            }
            .services-item__icon svg{
                fill: #fff;
                transition: 0.3s;
            }
            .services-item__icon::after{
                display: none;
            }
            .services-more svg{
                fill: #fff;
            }
        }
    }
    .about-us__header{
        margin-bottom: 40px;
        &::before{
            display: none;
        }
    }
    .services-item__icon{
        min-height: 150px;
        position: relative;
        z-index: 1;
        &::after{
            content: "";
            position: absolute;
            top: 22px;
            left: 17px;
            background: url(../img/1h.svg) no-repeat;
            width: 48px;
            height: 48px;
            background-size: 100%;
            z-index: -1;
        }
        svg{
            fill:#051F39;
        }
    }
    .owl-carousel .owl-stage-outer {
        width: 91%;
        margin-left: auto;
    }
}
.services-container {
}
.about-us {

		// .about-us__header

		&__header {
		}
}
.services-item {
    background: #EFF4F9;
    padding: 30px 20px 40px;
    cursor: pointer;
}
.services-header {
    font-family: "Mont-SemiBold";
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 14px;
    text-decoration: none;
    display: block;
    outline: none;
}
.services-about {
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #4C5054;
    margin-bottom: 26px;
    text-decoration: none;
    display: block;
    outline: none;
}
.services-more {
    font-size: 15px;
    line-height: 19px;
    color: #585BFC;
    text-decoration: none;
    border-bottom: 2px solid #585BFC;
    svg{
        margin-left: 10px;
        fill: #051F39;
    }
}
